<div>
    <div>
        <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email" [(ngModel)]="email">
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Password"  [(ngModel)]="password">
      </mat-form-field>
    </div>

      <div>
           <button mat-button color="primary" (click)="login()">Login</button>
      </div>

   
</div>
